*{
margin: 0px;
padding:0px;
}
body{
    font-size:18px;
    background: #F8F8FF;
}
.header{
margin: 30px auto 0px;
                   width:50%;
color: white;
background: #5F9EA0;
text-align: center;
padding: 20px;
border-radius: 20px 20px 0px 0px;
border: 10px solid #5F9EA0;
}
form,
.content{
width: 50%;
text-align: left;
	margin: 0px auto;
	padding: 20px;
	border: 10px solid #5F9EA0;
	background: white;
	border-radius: 0px 0px 20px 20px;
}
.input{
	margin: 10px 0px 10px 0px;
}
.input label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input input{
border-radius: 5px 5px 5px 5px;
height: 20px;
width:93%;
padding: 5px 10px;
font-size: 18px;
text-align: left;

}
.inputs input{
border-radius: 5px 5px 5px 5px;
height: 100px;
width:93%;
padding: 5px 10px;
font-size: 18px;
text-align: left;
}


.btn{
padding:10px;
font-size:15px;
color: white;
background: #5F9EA0;
border:none;
border-radius:5px;
}


.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}

.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}